:root{
    --color-primary: #ff5be4;            
    --color-primary-light: #ffffff86;
    --color-primary-dark: #1f131b;
    --color-background: #ff79e93f;
	--color-background-over: #ffffff34;
    --color-background-secundary: #85f7ff3d;
    --color-background-transparent: #fdfdfd75;

    --font-primary:  Verdana, Arial;
    --font-size-search: 1.5em;
    --font-color: #000000;
    --font-color-secundary: rgb(83, 174, 248);

    --color-info-dark: #4d86c4;
    --color-debug-dark: #4d86c4;
    --color-success-dark: #4a9c5d;
    --color-alert-dark: #927f40;
    --color-warning-dark: #927f40;
    --color-error-dark: #e70303;

}
a{
	text-decoration: none;
	color: var(--font-color);
}
h1{
	font-size: 3rem;
	margin: 0 auto;
	text-align: center;
}
html {
  height: 100%;
}
body {
  	min-height: 100%;

	margin: 0px;
	/*background: var(--color-primary-dark);*/
	/* background: linear-gradient(90deg, var(--color-background) 10%, var(--color-background-secundary) 90%); */
	/* flex: 1 0 auto; */
	font-family: var(--font-primary);
	background: linear-gradient(270deg, #03a9f4, #cc39a4, #ffb5d2);

}
img{
width: 100%;
height: 100%;
object-fit: fill
}
table {
background-color: white;

font-family: arial, sans-serif;
border-collapse: collapse;
width: 100%;
}

td, th {
border: 1px solid #dddddd;
text-align: center;
padding: 8px;

}

tr:nth-child(even) {
background-color: #dddddd;
}
input, button, select, option{
padding: 0.3rem 0.9rem;
}
button:disabled,
.disabled{
border: 1px solid #999999;
background-color: #cccccc;
color: #666666;
}
.center{
	margin: 0 auto;
	text-align: center;
}
/* Works on Firefox */
* {
	opacity: 5;
	scrollbar-width: thin;
	scrollbar-color: var(--color-background)  var(--color-background-secundary);
  }
  
  /* Works on Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
	width: 12px;
	opacity: 5;

  }
  
  *::-webkit-scrollbar-track {
	background: var(--color-background);
	opacity: 5;

  }
  
  *::-webkit-scrollbar-thumb {
	background-color: var(--color-background-secundary);
	border-radius: 20px;
	border: 3px solid var(--color-background);
	opacity: 5;

  }

/* ###################################################################### MESSAGES */
.message{
	/* width: 30%;
	position: absolute; */
	padding: 1rem;
	border-radius: 4px;
	border: 1px solid var(--color-primary-dark);
	background: var(--color-primary-light);
	color: var(--font-color);
	text-align: center;
	top: 15px;
	right: 15px;
	}
	.message-error {
	border: 1px solid var(--color-error-dark);
	background: var(--color-primary-light);
	color: var(--color-error-dark);
	}
	.message-success {
	border: 1px solid var(--color-success-dark);
	background: var(--color-primary-light);
	color: var(--color-success-dark);
	}


/* BODY ###################################################################  */

.main-content-container{
	margin: 0 auto;
	background: var(--color-background);
	width: 100%;
	max-width: 100rem;
	display: flex;
	padding-bottom: 10rem;
	/* backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px); */
}
.content-goods{
	max-width: 90%;
	display: flex;
	flex-direction: row;
	height: auto;
	flex-wrap: wrap;
	position: relative;
}
.description-main-page{

	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
	height: 4.5rem;
}

/* CARRINHO ############################################### */
/* Style the container of the cart items */
.content-cart-view {
	width: 90%;
	margin: 0 auto;
	background: #4a599c67;
  }
  
  /* Style the cart item */
  .cart-peace {
	background: #4a9c5d;
	margin: 0 auto;

	width: 90%;
	height: 10rem;
	display: flex;
    justify-content: center; /* Alinhar horizontalmente ao centro */
    align-items: flex-start; /* Alinhar verticalmente ao topo */
    gap: 10px; /* Espaço entre os itens */
	padding: 1rem;
  }
  
  .img-cart-view {
	width: 11rem;
	height: 8rem;
	background-color: #8f347173;
	align-self: center;
	margin: 0;
	padding: 0;
  }
  
  .link-img-cart-view {
	display: flex;
    justify-content: center; /* Alinhar horizontalmente ao centro */
    align-items: flex-start; /* Alinhar verticalmente ao topo */
    gap: 10px; /* Espaço entre os itens */
  }

  .title-cart-view {
	padding: 10px;
  }
  .descripition-cart-view {
	padding: 10px;
	height: 4.0rem;

	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
  }
  .qtde-select-cart-view {
	padding: 10px;
    border: 1px solid #ccc;

  }
  
  .remove-all-cart-view {
	padding: 10px;
	height: 100%;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
	align-self: center;
	margin: auto 0 ;

  }
  

  .number-input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 120px; /* Ajuste a largura conforme necessário */
    margin: 10px;
}

.quantity-cart {
    width: 50px; /* Ajuste a largura conforme necessário */
    text-align: center;
    font-size: 18px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 5px;
    outline: none;
}
.update-qtde-cart-view{

}
.btn-decrement,
.btn-increment {
    width: 30px;
    height: 30px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
}

.btn-decrement:hover,
.btn-increment:hover {
    background-color: #0056b3;
}


  
 /* MIDIAS SOCIAIS #################### */
 .main_back {
	position: absolute;
	border-radius: 10px;
	transform: rotate(90deg);
	width: 11em;
	height: 11em;
	z-index: -2;
	box-shadow: inset 0px 0px 180px 5px #ffffff;
  }
  
  .main-social {
	display: none;

	position: fixed;
	bottom: 20%;
	left: 1rem;
	/* display: flex; */
	flex-wrap: wrap;
	width: 4em;
	align-items: center;
	justify-content: center;
	z-index: 1000;
  }
  
  .card {
	width: 60px;
	height: 60px;
	border-top-left-radius: 10px;
	background: lightgrey;
	transition: .4s ease-in-out, .2s background-color ease-in-out, .2s background-image ease-in-out;
	background: rgba(255, 255, 255, 0.596);
	backdrop-filter: blur(5px);
	border: 1px solid transparent;
	-webkit-backdrop-filter: blur(5px);
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 1.5rem;
	cursor: pointer;
	border: #000000 solid 1px;
  }
  

 