{% load i18n %}

{% if obj.is_available %}
	{% if is_detail %}
		<div class="merchan">
			<a href="http://" target="_blank" rel="noopener noreferrer"></a>
		</div>

		<div class="object-view-detail">
			{% for img in obj.get_multiview_images_list %}
				<img class="obj-img" src={{img}} >
			{% endfor %}

	{% else %}
		<div class="object-view">
			<a  href=" {{ obj.get_absolute_url }} ">
			
				
				{% if obj.cover.url != "" %}
					<img class="obj-img" src={{obj.get_default_image}} >
				{% else %}
					<img class="obj-img" src="/media/static/images/default.jpg" >
				{% endif %}
			</a>
		
	{% endif %}
	
	


		<div class="box-price-to-cart">

		{% if not is_detail %}
			<b><p class="object-view-price">  R$ {{ obj.price|floatformat:2 }}  </p></b>
		{% endif %}

		
		
		{% if not is_detail %}
		{% comment %} <a  class="object-view-button" href=" {% url 'farmacia:obj' obj.id %} "><span>Adicionar ao Carrinho</span></a> {% endcomment %}
		<div class="buttons-container">
		
			{% comment %} <a  class="object-car-button" href=" {{ obj.add_cart }} "><span> {% translate "Add to Cart" %}</span></a> {% endcomment %}
			<a  class="object-view-button" href=" {{ obj.get_absolute_url }} "><span> {% translate "Buy" %}</span></a>
		</div>
		{% else %}
		<div class="description-detail">
			<p class="object-view-name">  {{ obj.title }}  </p>

			<p>
				{% comment %} {{ obj.description }} {% endcomment %}
				{% comment %} {% if obj.author.first_name != None %}

				{% comment %} {% translate "Creation date: " %} {{ obj.created_at|date:"d/m/Y" }} às {{ obj.created_at|date:"H:i"}} <br> {% endcomment %}
				{% if obj.category.id is not None %}
				<a href="{%  url 'store:category' obj.category.id %}">{% translate "Category: " %} {{obj.category}} </a>
				{% endif %}
				
			</p>
			TAGS:
			{% for tag in obj.tags.all %}
			<a href="{% url 'store:tag' tag.slug %}">
				{{ tag }}
			</a>
			{% endfor %}
			<div class="descripition-detail">
				{{ obj.description }}
			</div>
		</div>
		{% endif %}
	</div>
		
	</div>
	{% if is_detail %}
		<div class="box-buying">
			<p class="object-view-name">  {{ obj.title }}  </p>
			<form class="cart" action={% url "store:cart" %} method="POST" enctype="multipart/form-data">
				{% csrf_token %}
				<label class="object-view-price-detail">  R$ {{ obj.price|floatformat:2 }}  </label>

				<input type="hidden" value={{obj.id}} name="id-obj">
				<p class="object-view-quantity-detail">Quantity<input type="number" name="qtd" id="qtd-buy"></p>
				<button id='button-form' type='submit'><span class="box span-2"><b> Add Cart</b></span></button>

			</form>
			
			<br>
			Shipping
			<input type="number" name="cep" id="cep">
			<button>Check Shipping</button>

		</div>
	{% endif %}
{% endif %}