{% extends 'global/base.html' %}
{% load static %}
{% load i18n %}

{% block 'title' %} Dashboard ({% if user.first_name %}{{ user.first_name }}{% else %}{{user}}{% endif %}){% endblock 'title' %}
{% block 'content' %}

<div class="dashboard-content">
    <h1> Dashboard ({% if user.first_name %}{{ user.first_name }}{% else %}{{user}}{% endif %})</h1>
    
    <div class="dashboard-container-object-views">
        <table>
            <tr>
                <th>delete</th>
                <th>Name</th>
                <th>Price</th>
                <th>Type</th>
            </tr>
            {% for obj in goods %}
            <tr>
                <td class='td-delete'>    
                    <form action= {% url 'authors:delete' obj.id %} class="form-delete"  method="post">
                        {% csrf_token %}
                        <button id='button-delete' type='submit'>❌</button>
                    </form>
                </td>
                
                    <td> <a href={% url "authors:edit" obj.pk %}>{{ obj.title }}</a> </td>
                        <td>  R$ {{ obj.price|floatformat:2 }}</td>
                            {% comment %} <td>   {% translate "Category" %}</td> {% endcomment %}
                                <td>  {{ obj.category }}</td> 
                
            </tr>
            {% empty %}
            <tr class='center'><h1>{% translate "No objects created yet" %}<h1></tr>
            {% endfor %}
            <a class='center link-add' href={% url 'authors:create' %}><i class="fa fa-plus" aria-hidden="true"></i></a>
        </table>
    </div>
</div>

<script src="{% static 'js/script.js' %}"></script>

{% endblock 'content' %}